.form {
  background-color: rgb(15, 215, 215);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(3, 123, 123);
  box-shadow: 2px 3px 5px rgb(3, 123, 175);
}

label {
  margin-bottom: 10px;
  color: #fff;
  color: rgb(3, 123, 175);
}

label:last-child {
  margin-bottom: 0px;
}

.inputName {
  margin-left: 28px;
  border-radius: 5px;
  border: 2px solid rgb(3, 123, 175);
  color: rgb(3, 123, 175);
  box-shadow: 2px 3px 5px rgb(251, 253, 253);
}
.inputName:hover,
:focus {
  box-shadow: 2px 3px 5px rgb(6, 66, 230);
  border: 2px solid rgb(234, 240, 240);
  outline: none;
}
.inputNumber {
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid rgb(3, 123, 175);
  color: rgb(3, 123, 175);
  box-shadow: 2px 3px 5px rgb(251, 253, 253);
}

.inputNumber:hover,
:focus {
  box-shadow: 2px 3px 5px rgb(6, 66, 230);
  border: 2px solid rgb(234, 240, 240);
  outline: none;
}
